img{height:auto;
max-width:100%;justify-content: center;
margin: auto auto auto auto;
display:block;}
body {
        background-color: silver;
}
  h1, h4 {
        text-align: center;}
     
      div{ font-weight: bold;}
    
   p{
     font-size: 30px;
     justify-content: center; 
     margin: auto auto auto auto; 
     text-align: center;
   }
